<h1>Contact: <%= @contact.name %></h1>

<p><%= link_to "Home", contacts_path %></p>

<p>First name: <%= @contact.firstname %></p>

<p>Last name: <%= @contact.lastname %></p>

<%= form_for @contact, :method => :delete do |c| %>
	<%= c.submit "Delete Contact" %>
<% end %>

<p><%= link_to "Edit contact", edit_contact_path(@contact) %></p>